extends layouts/main

block content
  h1 Album
  for dir in directories
    a(href=`${basePath}/overview?path=${dir}`)
      div.album-element
        svg.feather.feather-big
          use(href=`${basePath}/static/vendor/feather-icons/feather-sprite.svg#folder`)
        span.sr-only Folder
        p= dir
