html
  head
    title Albums | Lenscast
    link(href="/static/styles/app.css" rel="stylesheet")
  body
    nav#navbar
      div.navbar-element
        h3 Lenscast

    h1 Albums
    ul
      for dir in directories
        li
          a(href='/overview?path=' + dir)= dir
