extends layouts/main

block content
  a.btn.overwrite(href=`/overview?path=${path.split('/')[0]}`)
    svg.feather
      use(href="/static/vendor/feather-icons/feather-sprite.svg#x")

  div.display-wrapper
    div.display-container
      if file.isImage
        img(src=`/api/image?path=${path}`)
      else if file.isVideo
        video(controls)
          source(src=`/api/video?path=${path}`)
    p.text-center= `${path}`
