extends layouts/main

block content
  if file.isImage
    img(src=`/api/image?path=${path}`)
    p= `${path}`
  else if file.isVideo
    video(controls)
      source(src=`/api/video?path=${path}`)
    p= `${path}`
