html
  head
    title Slideshow | Lenscast
    link(href="/static/styles/app.css" rel="stylesheet")
  body
    p This is a slideshow

    div#img-display.hidden
      img(src="")

    div#vid-display.hidden
      video(controls)
        source(src="")

    button#ctrl-previous Previous
    button#ctrl-next Next

    pre.hidden#slideshow-path= `${path}`
    pre.hidden#slideshow-files= `${JSON.stringify(files)}`
    script(src="/static/scripts/slideshow.js")
