html
  head
    title Slideshow | Lenscast
    link(href="/static/styles/app.css" rel="stylesheet")
  body
    a(href=`/overview?path=${path}`) Back
    p This is a slideshow

    div#display-container
      div#img-display.hidden
        img(src="")

      div#vid-display.hidden
        video(controls)
          source(src="")

    button#ctrl-previous Previous
    button#ctrl-play-pause TODO: Play/Pause
    button#ctrl-next Next

    pre.hidden#slideshow-path= `${path}`
    pre.hidden#slideshow-files= `${JSON.stringify(files)}`
    pre.hidden#slideshow-config= `${JSON.stringify(config)}`
    script(src="/static/scripts/slideshow.js")
