extends layouts/main

block content
  a(href=`/overview?path=${path}`) Back
  p This is a slideshow

  div#display-container
    div#img-display.hidden
      img(src="")

    div#vid-display.hidden
      video(controls)
        source(src="")

  div#slideshow-ctrl
    button#ctrl-previous.btn Previous
    button#ctrl-play-pause.btn Pause
    button#ctrl-next.btn Next

  pre.hidden#slideshow-path= `${path}`
  pre.hidden#slideshow-files= `${JSON.stringify(files)}`
  pre.hidden#slideshow-config= `${JSON.stringify(config)}`
  script(src="/static/scripts/slideshow.js")
