extends layouts/main

block content
  a.btn(href=`/overview?path=${path}`)
    svg(class="feather")
      use(href="/static/vendor/feather-icons/feather-sprite.svg#arrow-left")
  p This is a slideshow

  div.display-wrapper
    div#display-container
      div#img-display.hidden
        img(src="")

      div#vid-display.hidden
        video(controls)
          source(src="")

  div#slideshow-ctrl
    button#ctrl-previous.btn
      svg(class="feather")
        use(href="/static/vendor/feather-icons/feather-sprite.svg#skip-back")
    button#ctrl-play-pause.btn
      svg(class="feather")
        use(href="/static/vendor/feather-icons/feather-sprite.svg#pause")
    button#ctrl-next.btn
      svg(class="feather")
        use(href="/static/vendor/feather-icons/feather-sprite.svg#skip-forward")

  pre.hidden#slideshow-path= `${path}`
  pre.hidden#slideshow-files= `${JSON.stringify(files)}`
  pre.hidden#slideshow-config= `${JSON.stringify(config)}`

  script(src="/static/scripts/slideshow.js")
