body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;

  color: #eee;
  font-family: Helvetica, sans-serif;

  background: #222;
}

a {
  color: #2d61e5;
}
a:visited {
  color: #1f4ab7;
}

.btn {
  padding: 1em 2em;
  color: #eee;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: #444;
  display: inline-block;
}
.btn:hover {
  background-color: #666;
}

.navbar {
  /*
  width: 100%;
  */
  height: auto;
  margin: 0 0 1em 0;
  padding: 0.5em 1em;
  /*
  float: left;
  */
  background-color: #444;
}
.navbar-element {}
.navbar-element a {
  color: #eee;
  text-decoration: none;
}

.footer {
  width: 100%;
  margin-top: auto;
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overview-grid {}

.file-preview {
  width: 320px;
  height: auto;
  margin: 10px;
  float: left;
}

#display-container {
  min-height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#slideshow-ctrl {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}
