<!DOCTYPE html>
html
  head
    title #{title} | Lenscast
    link(href="/static/styles/app.css" rel="stylesheet")
  body
    include ../partials/navbar

    div.content-container
      block content

    include ../partials/footer
